<div id="homepage">
  <div id="home-main-content">
    <div id="home-header">
      <img id="home-header-logo" src="assets/Logo_Aesthetic_rounded.png" alt="Freezlex's logo rounded"/>
      <div id="home-header-nav">
        <p routerLink="/projects">projects</p>
        <p routerLink="/blog">blog</p>
        <p routerLink="/twitch">twitch</p>
        <p routerLink="/discord">discord</p>
      </div>
      </div>
    <div id="home-main-title">
      <svg id="freezlex-vectorial" viewBox="0 0 346 39.631" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-53.016 -80.576)" font-family="sans-serif" font-size="50.8px" stroke-width=".26458">
          <text x="51.400955" y="120.07506" fill="none" stroke="#fffffe" style="line-height:1.25" xml:space="preserve"><tspan x="51.400955" y="120.07506" fill="none" font-family="'Open Sans'" font-size="50.8px" font-weight="800" stroke="#fffffe" stroke-width=".26458">FREEZLEX</tspan></text>
          <text x="49.096382" y="116.84087" fill="#ffffff" style="line-height:1.25" xml:space="preserve"><tspan x="49.096382" y="116.84087" fill="#ffffff" font-family="'Open Sans'" font-size="50.8px" font-weight="800" stroke-width=".26458">FREEZLEX</tspan></text>
        </g>
      </svg>
      <p>Your average open-source contributor</p>
    </div>
    <div id="quote-of-the-day">
      <p id="qotd-top"><a id="dash-dash">//</a> {{smallText.top}}</p>
      <p id="qotd-bottom">{{smallText.bottom}}</p>
    </div>
    <div id="home-footer">
      <svg id="home-footer-arrow" xmlns="http://www.w3.org/2000/svg" height="3vh" viewBox="0 0 384 512">
        <path fill="#FFFFFF" d="M374.6 310.6l-160 160C208.4 476.9 200.2 480 192 480s-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 370.8V64c0-17.69 14.33-31.1 31.1-31.1S224 46.31 224 64v306.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0S387.1 298.1 374.6 310.6z"/>
      </svg>
    </div>
  </div>
  <div id="home-secondary-content">
    <div id="home-pagination-desc">
      <div class="secondary-element">
        <h1>Twitch</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <button class="secondary-discover twitch-btn" routerLink="/twitch">Decouvrir</button>
      </div>
      <div class="secondary-element">
        <h1>Blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <button class="secondary-discover blurple-btn" routerLink="/blog">Decouvrir</button>
      </div>
      <div class="secondary-element">
        <h1>Project</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <button class="secondary-discover blurple-btn" routerLink="/projects">Decouvrir</button>
      </div>
    </div>
  </div>
  <div id="credits">
    <p>Build with ❤️ by Freezlex, ©{{actualYear}} all rights reserved.</p>
  </div>
</div>
