@use "src/scss/mixin";

header {
  margin: 20px 0;
  width: 95vw;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  @include mixin.themed{
    color: mixin.t("on-background");
  }

  #header-watermark {
    height: 4vh;
    width: 4vh;
    @include mixin.themed{
      fill: mixin.t("on-background");
    }
  }

  #header-nav {
    display: flex;
    flex-flow: row;
    align-items: center;

    p {
      margin: 0 20px;
    }
  }

  #header-right {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 20px;

    #header-nav {
      margin: 0 20px;
    }
  }
}
