header{
  display: flex;
  flex-flow: row;
  justify-content: space-around;

  #watermark{
    rotate: 45deg;
    height: 2em;
    width: 2em;
    border: 2px gray solid;
    border-radius: 8px;
    text-align: center;
    justify-content: center;

    p{
      rotate: -45deg;
      transform: translateX(-10%) translateY(10%);
    }
  }
}
