.navigation{
    z-index: 999;
    margin-top: auto;
    margin-bottom: auto;
    color: #E5E5E5;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items:center;
    height: 5vh;
}

.navbar{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 20%;
}

.navbar-brand, .navbar-brand:visited{
    text-decoration: none;
    color: #E5E5E5;
    font-family: "Poppins", Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 120%;
}

.nav-item{
    text-decoration: none;
    font-family: "Poppins", Avenir, Helvetica, Arial, sans-serif;
    margin: 5px;
}

.nav-item, .nav-item:hover, .nav-item:focus, .nav-item:active {
    text-decoration: none;
    color: inherit;
}

.nav-item:visited{
    color: inherit;
}
@media (max-width: 400px) {
    .navbar{
        display: none;
    }
}

.active{
    font-weight: bold;
}
