.page-not-found{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", Avenir, Helvetica, Arial, sans-serif;
    color: #E5E5E5;
    font-size: 20px;
}

#four-zero-four{
    font-weight: bold;
    cursor: pointer;
}
