.twitch{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    display: flex;
    flex-flow: row;
}

.redirect-button{
    border-radius: 20px;
    background-color: #6441a5;
    border: none;
    height: 75px;
}

.twitch-logo{
    height: 15vh;
}

.mobile-link{
    margin: 50px 50px;
    text-decoration: none;
    color: #E5E5E5;
    font-family: "Poppins", Avenir, Helvetica, Arial, sans-serif;
}

@media (min-width: 1630px) {
    .mobile-link{
        display: none;
    }
}

@media (max-width: 1630px) {
    .mobile-link{
        display: none;
    }
    .chat{
        display: none;
    }
}

@media (max-width: 1280px) {
    .player{
        display: none;
    }

    .mobile-link {
        display: inline;
    }
}
