@font-face {
  font-family: Outfit;
  src: url('../fonts/Outfit.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
  font-family: 'Inter', sans-serif;
}